$color_1: #414a53;
$color_2: #fff;
$white: #fff;
//$color_3: #00997d;
$color_3: #bd202c;
$color_4: #d8dde1;
$color_5: #ffffff;
$color_6: transparent;
$color_7: #a9aeb3;
$color_8: #d9eeea;
$color_9: #003d90;
$color_10: #ffa800;
$color_11: #d1d3d5;
$color_12: #bd202c;
$color_13: #767f7f;
$color_14: #d3d3d3;
$color_15: #427ccb;
$color_16: inherit;
$color_17: #f3f6f5;
$light_gray: #f3f6f5;
$color_18: #858b90;
$color_19: #333;
$color_20: #f3c62a;
$color_21: #c3c3c3;
$color_22: #bfbfbf;
$color_23: rgba(255, 255, 255, .87);
$color_24: #c4c4c4;
$color_25: #9d9f9e;
$color_26: #8d9296;
$color_27: #72787f;
$color_28: #777;
$color_29: #bd202c;
$color_30: #b3b3b3;
$color_31: #ededed;
$font-family_1: Inter, sans-serif;
$font-family_2: "Open Sans", sans-serif;
$background-color_1: #fbfbfb;
$background-color_2: #ddd;
$background-color_3: #00997d;
$background-color_4: rgba(0, 153, 125, .5);
$background-color_5: #99d6cb;
$background-color_6: #003d90;
$background-color_7: #333;
$background-color_8: #31373f;
$background-color_9: rgba(0, 0, 0, .4);
$border-color_1: #333;
$border-color_2: #bd202c;
$border-color_3: #e2e2e2;
$border-color_4: #00997d;
$border-color_5: #21bb9f;
$border-color_6: #fff;
$border-bottom-color_1: #333;

$theme_blue: #091937;
$theme_red: #bd202c;
$theme_orange: #f79424;
$theme_light_blue: #24aae2;
$theme_green: #009648;
$theme_yellow: #d5df28;
