@import "colors";

.page-header_2, .page-header, .screen {
    .button--filled {
        padding: 10px 30px;
        height: unset;
        min-width: unset;
        line-height: unset;
        border-bottom-right-radius: 20px;
    }
}

.button--filled {
    padding: 10px 30px;
    height: unset;
    min-width: unset;
    line-height: unset;
    border-bottom-right-radius: 20px;
}

.hero-logo {
    padding: 20px 0;
    margin-bottom: 40px;
    height: 150px;
}

footer {
    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }

    .bg-icon {
        position: absolute;
        height: 250px;
        left: -40px;
        top: 10px;
        opacity: 0.6;
        display: none;
        transform: rotate(25deg);
        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }
}

.section-6 {
    .counters-holder {
        background: $theme_blue;
    }
}

.article {
    clip-path: none;
    background: unset;

    .article__img {
        border-top-right-radius: 30px;

    }

    .article__lower {
        background: white;
    }
}

.section-1 {
    padding: 120px 20px !important;

    .wrap {
        margin: 0 50px;
    }

    .mini-icon {
        width: 50px;
        margin-bottom: 10px;
    }


    .left-circle {
        background: $theme_blue;
        border-radius: 50%;
        width: 400px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 1px solid $theme_blue;
        outline-offset: 10px;

        .mini-circle {
            width: 100px;
            position: absolute;
            border-radius: 50%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.25s;

            &:hover {
                transform: scale(1.1);
            }


            &.blue {
                background: $theme-light_blue;
                top: 5%;
                left: 1%;
            }

            &.red {
                top: -5%;
                right: 34%;
                background: $theme_red;
            }

            &.orange {
                background: $theme_orange;
                bottom: -7%;
                left: 15%;
            }
        }

        .logo-inner {
            width: 250px;
        }
    }

    .interact {
        .slick-dots {
            display: flex !important;
            flex-direction: column;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100px;

            li {
                list-style: none;
                padding: 5px 0;
                width: 40px;

                &.slick-active {
                    button {
                        background-color: $theme_red;
                    }
                }

                button {
                    position: unset;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    border: none;
                    background-color: $theme_blue;
                    text-indent: -9999px;
                    outline: 0;

                    &:hover {
                        background-color: $color_9;
                    }
                }

            }
        }

        a {
            text-decoration: none;
        }

        .items {
            text-align: center;
            margin: 40px 0;
            width: 100%;
            max-width: 80vw;
            max-height: 80vw;
            border-radius: 50%;
            padding: 40px;
            color: white;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 200ms ease-in-out;
            //outline-offset: 5px;

            .text-cta{
                text-decoration: underline;
                font-weight: 700;
            }
            &:hover {
                transform: scale(1.1);
            }

            h5 {
                font-size: 1.4rem;
            }

            //transform: scale(0.25);
            &.slick-current {
                //transform: scale(1);
                transition: transform 300ms linear;
            }

            .text-subtitle {
                font-style: italic;
            }

            .list-group {
                padding: 0 40px;
                text-align: left;
            }

            .list-group-item {
                padding: 10px 0 0 0;
                background: transparent;
                border: none;
                border-bottom: 1px solid white;

                &:last-child {
                    border-bottom: none;
                }
            }

            &.blue {
                background: $theme-light_blue;
                //outline: 1px solid $theme-light_blue;
            }

            &.red {
                background: $theme_red;
                //outline: 1px solid $theme_red;
            }

            &.orange {
                background: $theme_orange;
                //outline: 1px solid $theme_orange;
            }
        }
    }


    .bg-icon {
        position: absolute;
        height: 400px;
        right: -40px;
        top: -200px;
        opacity: 0.7;
        display: none;
        transform: rotate(30deg);
        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }

    .section-logo {
        max-width: 400px;
        margin-bottom: 70px;
    }

    .round-icon {
        display: block;
        color: $theme_red;
        font-size: 30px;
        width: 80px;
        height: 80px;
        line-height: 85px;
        border-radius: 50%;
        border: 1px solid $color_19;
        margin: 0 50% 30px 50%;
        transform: translateX(-50%);

        ion-icon {
            margin: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 54px;
        }
    }

    .arrow {
        position: absolute;
        left: 240px;
        width: 280px;
        top: 0;
        @media only screen and (min-width: 1200px) {
            display: block;
        }

        &.invert {
            transform: scaleY(-1);
            top: 20px;
        }
    }

    .card {
        border-top-right-radius: 50px !important;

        .card-header {
            border-top-right-radius: 50px !important;
            background: $theme_red;
            color: $white;
            font-weight: 700;
            font-size: 1.5rem;
        }


        ul {

            li {
                border: none;
                padding: 10px 5px;
                border-bottom: 1px solid rgba(0, 0, 0, .25);
                background: transparent;


                &:last-child {
                    border: none;
                }
            }
        }

        .bg--dgray {
            color: white;

            li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            }
        }
    }
}

.section-2 {
    .tab-wrapper {
        .nav-tabs {
            border-bottom: none;
        }

        .nav-link {
            border: 4px solid transparent;
            border-radius: 0;
            background-color: $light_gray;

            &.active {
                border-color: $theme_red #fff #fff;
                background-color: $theme-blue;
                color: white;
            }
        }
    }

    .card {
        padding: 20px;
        min-height: 300px;
    }

    .card-2 {
        background: $theme_blue;
        color: white;
        border-radius: 0 30px 0 0;
        position: relative;
        top: -40px;
        padding: 20px 40px;
        min-height: 376px;
    }
}

.testimonials {
    .testimonials__bg {
        background: $theme_blue;
        height: 100%;
    }

    min-height: 500px;

    .testimonials__nav {
        .slick-active {
            button {
                background-color: $theme_red;
            }
        }

        .slick-dots:nth-child(2) {
            display: none !important;
        }
    }
}

.section-red {
    .bg-icon {
        position: absolute;
        height: 250px;
        left: -40px;
        top: 10px;
        opacity: 0.6;
        display: none;
        transform: rotate(25deg);
        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }

    .lady-img {
        position: absolute;
        right: 18%;
        height: 350px;
        bottom: 0;
    }

    ion-icon {
        font-size: 200px;
        color: #f79424;
    }

    padding: 40px !important;

    .testimonials__bg {
        background: $theme_red;
        height: 100%;
    }
}

.section-3 {
    padding-top: 70px !important;;

    .card-row {
        background: white;
        padding: 30px;
        margin: 30px 0;
        border-top-right-radius: 50px;
        height: 100%;


        .industry-icon {
            max-height: 60px;
            margin-bottom: 15px;
        }
    }

    .bg-icon {
        position: absolute;
        height: 250px;
        right: -100px;
        top: 10px;
        opacity: 0.6;
        display: none;
        transform: rotate(25deg);
        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }
}

.about-section {
    background-image: linear-gradient(to bottom, $light_gray 80%, $theme_blue 20%);


    .icon-item {
        border-top-right-radius: 30px;
        background: white;
        padding: 30px;
        text-align: center;
        height: 100%;

        .icon-item__text {
            text-align: left;
        }
        .icon-item__div{
            text-align: left;
        }

        .icon-item__img {
            padding: 15px;
            margin: 0;

            img {
                max-height: 150px;
            }
        }
    }
}

.section-5 {
    background-image: url('../img/site/home.webp');
    background-size: cover;

    .bg--blue {
        background: $theme_blue;
        color: white;
        padding: 30px 20px;
    }

    .card {
        border-top-right-radius: 25px;
    }

    .nav-tabs {
        color: white;
        border-bottom: none;

        .nav-link {
            background: $light-gray;
            margin: 0 5px;

            &.active {
                background: white;
                border-top: 4px solid $theme_red;
                color: $theme_blue;
            }
        }
    }
}

@-webkit-keyframes bg-slide {

    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

.side-btn:hover {
    border: 1px solid $theme_red;
}

.front-promo {
    .img--bg {
        animation: bg-slide 20s ease-in-out infinite;
    }
}

#cloud-adoption, #version-upgrade, #automate, #services-cards {
    scroll-margin-top: 125px;
}

.service-details {
    position: relative;
    background: white;

    .service-link {
        text-decoration: none;
        color: unset;
    }

    .service-benefits {
        justify-content: space-around;
        padding: 15px 20px;
        background: $light_gray;
        cursor: pointer;
        border: none;
        border-top-right-radius: 20px;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }

        &.small {
            padding: 15px 5px;

            .service-benefits__title {
                font-size: 0.97rem;
            }
        }

        ion-icon {
            font-size: 1.5rem;
            color: $theme_red;
        }
    }

}

.testimonials__img {
    border-top-right-radius: 30px;
}

.accordion__text-block {
    h6 {
        font-size: 1rem;
        font-weight: 500;
        font-style: italic;
    }
}

.contact-trigger--style-2 {
    clip-path: unset;
    border-top-right-radius: 30px;
}

.title-small {
    font-size: 25px;
    line-height: 35px;
}

.img-badge__title {
    font-size: 22px;
    line-height: 32px;
}

.info-item {
    align-items: center;
    background: #fff;
    padding: 20px;
    border-top-right-radius: 30px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.other-service {
    padding: 20px 10px;
}

.other-service__count {
    position: absolute;
    right: 15%;
    opacity: 0.25;
}

.service-details {
    .vertical-tabs__content {
        border: none;
        background: $light_gray;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        border-top-right-radius: 30px;
        width: 75vw;
    }

    .vertical-tabs {
        .r-tabs-tab {
            &:hover {
                background: $light_gray;
                transition: background-color 300ms linear;
            }

            a {
                width: 250px;
                font-size: 1.1rem
            }
        }

        li {
            &.r-tabs-state-active {
                background: $light_gray;
                transition: background-color 300ms linear;
                border: none;

                a {
                    font-weight: 600;
                }

                &:before {
                    background: $theme-red;
                    transition: background-color 300ms linear;
                }
            }
        }
    }
}

.icon-item__count {
    margin-bottom: 5px;

    span {
        font-size: 30px;
    }
}

.icon-item__title {
    font-size: 30px;
}

.back-arrow {
    margin-right: 10px;
    text-decoration: none;

    &:hover {
        color: $theme_blue;
    }
}

.bg--lgray {
    .list--check .list__item::after {
        background: white;
    }
}

.nav-arrow {
    cursor: pointer;
    font-size: 40px;
    color: $theme_red;
    transition: transform 200ms ease-in-out;
    display: inline;

    &:hover {
        transform: scale(1.1);
    }
}

.articles-slider {
    .slick-track{
        margin-left: unset;
    }
}

.truck-img{
    padding: 50px;
}
